<div  id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
     <div id="home"  style="font-size: 1.8rem;"  class="sidebar-heading text-center" routerLink="/workShop" routerLinkActive="active"><i class="fas fa-home" ></i>Inicio</div>
     <div class="list-group list-group-flush">      
       <a  class="list-group-item list-group-item-action bg-light"><i class="fas fa-plus-circle"></i> Nuevo Proyecto</a>
       <a  class="list-group-item list-group-item-action bg-light" > <i class="far fa-folder"></i> Proyecto 1</a>
       <a  class="list-group-item list-group-item-action bg-light" ><i class="far fa-folder"></i> Proyecto 2</a>
       <a  class="list-group-item list-group-item-action bg-light" ><i class="far fa-folder"></i> Proyecto 3</a>
       <a  class="list-group-item list-group-item-action bg-light" ><i class="far fa-folder"></i> Proyecto 4</a>
       <a  class="list-group-item list-group-item-action bg-light" ><i class="far fa-folder"></i> Proyecto 5</a>
       
     </div>
   </div>
 <!--Pintar el contenido de la pagina aqui-->
 
 <!---<ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>-->
 
 
 
 
 </div>