
.titulo-card{
    font-weight: 600;
    font-size: 1.5rem;
}

.titulo2-card{
    font-weight: 600;
    font-size: 1rem;
}

.titulo2-card:hover{
    cursor: pointer;
}

.logo-registro{
    margin-top: 3rem;
   display: flex;
   justify-content: center;
 
}

.logo-registro img{
    width: 75%;
    cursor: pointer;
}

.btn-width{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
   }

.alert-aling{
    position: absolute;
    margin-top: 5px;
}   


@media (min-width:548px) and (max-width: 768px){



    .registro-a{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-decoration{
        width: 60%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .registro-b{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

 
   .anuncios{
       display: flex;
   }

   .btn-width{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   }

   .logo-registro{
    margin-top: 3rem;
   display: flex;
   justify-content: center;
 
}

.logo-registro img{
    width: 55%;
}

}

@media (min-width:769px) and (max-width: 992px){
    .registro-a{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .card-decoration{
        width: 40%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .registro-b{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

   .vertical-auto{
       margin-top: 5rem;
      
   }

   .anuncios{
       display: flex;
       justify-content: space-between;
   }

   .btn-width{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   }

   .logo-registro{
    margin-top: 3rem;
   display: flex;
   justify-content: center;
 
}

.logo-registro img{
    width: 60%;
}


}


@media(min-width:993px) and (max-width:1200px){

    .box-center{
        margin-top: auto;
    }
   
    .registro-a{
        width: 50%;
        
    }

    .card-decoration{
        width: 45%;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .registro-b{
        width: 45%;        
        margin-left: auto;
        margin-right: auto;
        margin-top: 12rem;
        
    }

   .vertical-auto{
       margin-top: 3.5rem;
      
   }

   .flex{
       display: flex;
   }

   .btn-width{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   }

   .logo-registro{
    margin-top: 3rem;
   display: flex;
   justify-content: center;
 
}

.logo-registro img{
    width: 50%;
}

  
} 

@media(min-width:1201px){
    .box-center{
        margin-top: auto;
    }
   
    .registro-a{
        width: 50%;
        
    }

    .card-decoration{
        width: 45%;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .registro-b{
        width: 35%;        
        margin-left: auto;
        margin-right: auto;
        margin-top: 12rem;
        
    }

   .vertical-auto{
       margin-top: 5rem;
      
   }

   .flex{
       display: flex;
   }

   .btn-width{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
   }

   .logo-registro{
       margin-top: 5rem;
      display: flex;
      justify-content: center;
    
   }

   .logo-registro img{
       width: 40%;
   }

}


   

