<div class="logo-registro">
    <img src="././assets/logo oscuro.svg" class="" routerLink="/home" routerLinkActive="active"  alt="">
</div>

<div class="flex">
<div class="registro-a vertical-auto">
    <h5 class="text-center titulo-card m-4">Descubrre que version de C-Drive se ajusta mejor a sus necesidades </h5>
    <div class="m-4 flex anuncios">   


        <div class="card mt-4 card-color card-decoration">
            <div class="p-2 bg-success"></div>
            <p class="text-center mt-3 titulo-card">C-Drive Professional</p>


            <table class="table table-striped">

                <tr>

                    <td><i class="fas fa-check mr-2 text-success"></i>Proyectos Ilimitados</td>

                </tr>

                <tr>

                    <td><i class="fas fa-check text-success mr-2"></i>Descuentos</td>

                </tr>

                <tr>

                    <td><i class="fas fa-check text-success mr-2"></i>Almacenamiento sin limites</td>

                </tr>

              
                <hr class="m-0">                 

                <div class="text-center mt-3 titulo2-card">
                    <i class="far fa-credit-card text-success mr-2 text-center"></i>Comprar Ahora
                </div>              

            </table>



        </div>

        <div class="card mt-4 card-color card-decoration">
            <div class="p-2 bg-warning"></div>
            <p class="text-center mt-3 titulo-card">C-Drive Free</p>


            <table class="table table-striped">

                <tr>

                    <td><i class="fas fa-check mr-2 text-secondary"></i>Proyectos Ilimitados</td>

                </tr>

                <tr>

                    <td><i class="fas fa-check text-secondary mr-2"></i>Descuentos</td>

                </tr>

                <tr>

                    <td><i class="fas fa-check text-secondary mr-2"></i>Almacenamiento sin limites</td>

                </tr>

              
                <hr class="m-0">                 

                <div  class="text-center mt-3 titulo2-card">
                   <label for="nombre"></label>
                   <i class="fas fa-user text-warning mr-2 text-center" ></i>Pruebalo Ahora
                </div>              

            </table>



        </div>

       


    </div>
</div>

<div class="registro-b vertical-auto">
    <div class="card m-4 border card-color">
        <div>
            <h4 class="text-center mt-3 titulo-card">Crea tu cuenta gratis de C-Drive</h4>
            <div class="container">
                <div class="row mt-3">
                    <label for="nombre" class="col-sm-4" >Nombres</label>
                    <div  class="col-sm-8">
                        <input id="nombre" type="text" class="form-control">
                    </div>
                </div>
    
                <div class="row mt-3">
                    <label class="col-sm-4" for="apellidos">Apellidos</label>
                    <div class="col-sm-8">
                        <input id="apellidos" type="text" class="form-control">
                    </div>
                </div>
    
                <div class="row mt-3">
                    <label class="col-sm-4" for="email">Email</label>
                    <div class="col-sm-8">
                        <input id="email" type="email" class="form-control">
                    </div>
                </div>
    
    
                <div class="row mt-3">
                    <label class="col-sm-4" for="pass">Constraseña</label>
                    <div class="col-sm-8">
                        <input id="pass" type="password" class="form-control">
                    </div>
                </div>
    
                <div class="row mt-3">
                    <label class="col-sm-4" for="repass">Confirmar contraseña</label>
                    <div class="col-sm-8">
                        <input id="repass" type="password" class="form-control">
                    </div>
                </div>
    
    
    
    
            </div>
        </div>
        <div class="">
            <a href="/registro" class="btn d-block mt-3 mb-3 bg-success text-white btn-width ">Adquiere tu version Pro</a>
            <a href="/registro" class="btn d-block mt-3 mb-3 bg-warning text-white btn-width ">Registrate Gratis</a>
         
        </div>
    </div>
</div>
</div>